@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #00904C;
  display: flex;
  justify-content: space-between;
  height: 100px;
  background: linear-gradient(135deg,
      #00904C,
      rgba(0, 144, 76, 0.85));

  box-shadow: 0 8px 20px rgba(0, 144, 76, 0.3);
  border-bottom: 3px solid rgba(0, 144, 76, 0.6);

  position: relative;
  overflow: hidden;
}

.header::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;

  background: radial-gradient(circle,
      rgba(255, 255, 255, 0.1) 0%,
      transparent 70%);

  transform: rotate(25deg);
  pointer-events: none;
}

.logo {
  width: 85px;
  height: 88px;
}

.redes-sociais-imagens {
  width: 42px;
  height: 42px;
  margin-right: 5px;
}
.redes-sociais-imagens a{
  color: white;
  font-size: 18px;

  width: 36px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.3s ease, 
  background 0.3s ease, 
  box-shadow 0.3s ease;
}
.redes-sociais-imagens A:hover{
  transform: translateY(-3px);
}


#redes-sociais-header {
  display: flex;
  align-items: center;
  margin-right: 30px;
  width: 150px;
}

.textos-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textos-da-header {
  margin: 0px 15px;
  font-family: "red hat display";
  color: white;
  font-weight: bold;
  font-size: 17px;
}

.textos-da-header a {
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease, 
  background 0.3s ease, 
  box-shadow 0.3s ease;
  font-weight: bold;

  padding: 8px 10px;
  border-radius: 6px;
}

.textos-da-header a:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.logo-agrobeloni-header {
  margin-left: 60px;
  display: flex;
  align-items: center;
}